

.board-svg #ZONE1 { /*couleur1*/
	fill: #A4C20E;
}

.board-svg #ZONE2 { /*couleur2*/
	fill: #A4020E;
}
.board-svg #ZONE2A { /*couleur2*/
	fill: #A4020E;
}

.board-svg #ZONE2B { /*couleur2*/
	fill: #A4020E;
}

.board-svg #ZONE3 { /*couleur1*/
	fill: #A4C20E;
}

.board-svg #ZONE4 { /*couleur2*/
	fill: #A4C20E;
}

.board-svg #ZONE5 { /*couleur1*/
	fill: #A4C20E;
}

.board-svg #ZONE5 { /*couleur1*/
	fill: #A4C20E;
}

.board-svg #ZONE6 { /*couleur1*/
	fill: #A4C20E;
}

.board-svg #ZONE7 { /*couleur1*/
	fill: #A4C20E;
}

.board-svg #ZONE8 { /*couleur1*/
	fill: #A4C20E;
}

.board-svg #ZONE9 { /*couleur1*/
	fill: #A4C20E;
}

.board-svg #ZONE10 { /*couleur1*/
	fill: #A4C20E;
}

